@import url('https://fonts.googleapis.com/css?family=Muli:300,400,800');

/*@import url('https://fonts.googleapis.com/css?family=Special+Elite');*/
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
body {
  color: #777;
}

a {background-color: transparent;text-decoration: none;color: inherit;display: block;}
a:active,
a:hover {outline: 0;text-decoration: none;color: inherit;}


#layout {
  position: relative;
  padding-left: 0;
}

#layout.active #menu {
  left: 150px;
  width: 150px;
}

#layout.active .menu-link {
  left: 150px;
}

.content {
  margin: 0;
  padding: 0 4em;
  max-width: 960px;
  margin-bottom: 50px;
  line-height: 1.6em;
}



#menu {
  margin-left: -150px;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; 
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #1f8dd6;
}

#menu .pure-menu-selected a {
  color: #fff;
}

#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0;
}


#layout {
  padding-left: 150px; /* left col width "#menu" */
  left: 0;
}
#menu {
  left: 150px;
}

.menu-link {
  position: fixed;
  left: 150px;
  display: none;
}

#layout.active .menu-link {
  left: 150px;
}


h2{
  position: relative;
  display: inline-block;
  padding-left: 30px;
  font-weight: 300;
}
h2:before{
  content: '#';
  position: absolute;
  top: 0px;
  left: 0px;
  color: #0060b7;
}
h2:after{
  content: '';
  position: absolute;
  top: 15px;
  right: -110px;
  width: 100px;
  height: 1px;
  background: #ececec;
}

.header{
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ececec;
}
.header h1{
  margin-bottom: 10px;
  font-weight: 400;
  color: #0060b7;
}
.header h1 span{color: #191818;}
.header .info-box{
  position: absolute;
  top: 30px;
  left: 4em;
  font-weight: 300;
  color: #666;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

