{% extends "Layout.html" %}
{% block content %}
  <style>
    header{display: none;}
  </style>

  <h3>Articles</h3>
  <div class="articles-list-wrapper">
  {% for article in articles %}
    <div class="box" style="background-image: url('images/articles/thumbnails/{{ article.thumbnail }}');">
      <div class="inner">
        <a href="{{ article.year }}/{{ article.month }}/{{ article.day }}/{{ article.slug }}">{{ article.title }}</a>
        <div class="preview-box">
          <p>{{ article.preview }} <a href="{{ article.year }}/{{ article.month }}/{{ article.day }}/{{ article.slug }}">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    
  });/* document ready end */
</script>
{% endblock %}