{% extends "Layout.html" %}
{% block content %}

  <h3>Hello {{ name }}</h3>
  <p>Valentin is our brand new worker designed to fit in every team and adapt to various situations. He is shipped with many basic functionalities and can easily be upgraded. Valentin is reliable and seeks to grow his passion for web development along with his peers.</p>

  <h3>Hardware specs</h3>
  <table class="home-hardware-specs-table">
    <tr>
      <th>Origin</th>
      <td>Switzerland</td>
    </tr>
    <tr>
      <th>Location</th>
      <td>Seoul, South Korea</td>
    </tr>
    <tr>
      <th>Birth year</th>
      <td>1990</td>
    </tr>
    <tr>
      <th>Height</th>
      <td>175cm</td>
    </tr>
  </table>

  <h3>Features</h3>
  <ul class="home-features-list">
    <li>
      <span>PHP</span>
      <div class="chart-bar">
        <div style="width: 80%;background-color: #4F5D95;" class="inner"></div>
      </div>
    </li>
    <li>
      <span>HTML</span>
      <div class="chart-bar">
        <div style="width: 95%;background-color: #ec662b;" class="inner"></div>
      </div>
    </li>
    <li>
      <span>CSS</span>
      <div class="chart-bar">
        <div style="width: 90%;background-color: #563d7c;" class="inner"></div>
      </div>
    </li>
    <li>
      <span>JS / jQuery</span>
      <div class="chart-bar">
        <div style="width: 75%;background-color: #f0da50;" class="inner"></div>
      </div>
    </li>
    <li>
      <span>Node</span>
      <div class="chart-bar">
        <div style="width: 20%;background-color: #90c53f;" class="inner"></div>
      </div>
    </li>
      <li>
      <span>C# - Unity</span>
      <div class="chart-bar">
        <div style="width: 50%;background-color: #178600;" class="inner"></div>
      </div>
    </li>
  </ul>

  <h3>Happy users</h3>
  <ul class="home-happy-users-list">
    <li><span class="flag-icon flag-icon-kr"></span> Enable Korea (7 months)</li>
    <li><span class="flag-icon flag-icon-kr"></span> Saltcake (1 year)</li>
    <li><span class="flag-icon flag-icon-ch"></span> Swiss Education Group (2 years)</li>
    <li><span class="flag-icon flag-icon-ch"></span> Cesar Ritz Colleges (4 years)</li>
  </ul>

  <h3>Available languages</h3>
  <ul class="home-features-list">
    <li>
      <span><span class="flag-icon flag-icon-fr"></span> French</span>
      <div class="chart-bar">
        <div style="width: 100%;background-color: #666;" class="inner"></div>
      </div>
    </li>
    <li>
      <span><span class="flag-icon flag-icon-us"></span> English</span>
      <div class="chart-bar">
        <div style="width: 95%;background-color: #666;" class="inner"></div>
      </div>
    </li>
    <li>
      <span><span class="flag-icon flag-icon-kr"></span> Korean</span>
      <div class="chart-bar">
        <div style="width: 50%;background-color: #666;" class="inner"></div>
      </div>
    </li>
    <li>
      <span><span class="flag-icon flag-icon-de"></span> German</span>
      <div class="chart-bar">
        <div style="width: 20%;background-color: #666;" class="inner"></div>
      </div>
    </li>
  </ul>

  <h3>Where to buy ?</h3>
  <a href="mailto:valentin.vannay@gmail.com">valentin.vannay@gmail.com</a>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    console.log('ready');
  });/* document ready end */
</script>
{% endblock %}