{% extends "Layout.html" %}
{% block content %}
  <h3>Hello {{ name }}</h3>
  <p>"All growth depends upon activity. There is no development physically or intellectually without effort, and effort means work."</p>

  <h3>Hardware specs</h3>
  <table class="home-hardware-specs-table">
    <tr>
      <th>Origin</th>
      <td>Switzerland</td>
    </tr>
    <tr>
      <th>Location</th>
      <td>Seoul, South Korea</td>
    </tr>
    <tr>
      <th>Birth year</th>
      <td>1990</td>
    </tr>
    <tr>
      <th>Height</th>
      <td>175cm</td>
    </tr>
  </table>

  <h3>Features</h3>
  <ul>
    <li>HTML</li>  
    <li>CSS</li>
    <li>PHP</li>
    <li>JS / jQuery</li>
    <li>Node</li>
  </ul>

  <h3>Previous owner</h3>
{% endblock %}