<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Valentin</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/flags/css/flag-icon.min.css">
    <link rel="stylesheet" href="/css/prism.min.css">
    
    <link rel="stylesheet" href="/css/all.css">
    
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/prism.min.js"></script>
    
  </head>
  <body>
    <div id="layout">
        <div id="menu">
          <div class="pure-menu">
            <ul class="pure-menu-list">
              {% for item in menuItems %}
                <li class="pure-menu-item"><a href="{{ item['href'] }}" class="pure-menu-link">{{ item['text'] }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      
        <header class="header">
          <div id="particles-js"></div>
          <div class="info-box">
            <h1>valentin <span>vannay</span></h1>
            <a href="https://github.com/valentincognito" target="_blank"><i class="fa fa-github fa-fw" aria-hidden="true"></i> valentincognito</a>
          </div>
        </header><!-- header end -->
       
        <div id="main">
          <div class="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      
    </div>
    
    <script type="text/javascript" src="https://use.fontawesome.com/3b92c4326c.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    
    {% block scripts %}
    {% endblock %}
    
    <script type="text/javascript">
      particlesJS.load('particles-js', '/assets/particles.json', function() {
        //console.log('callback - particles.js config loaded');
      });
    </script>
  </body>
</html>