<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Valentin</title>

    <meta name="title" content="Valentin" />
    <meta name="keywords" content="Valentin,Vannay,Blog,Web,Developer,Portfolio,Resume">
    <meta name="description" content="Valentin is our brand new worker designed to fit in every team and adapt to various situations. He is shipped with many basic functionalities and can easily be upgraded. Buy it now !!">

    <meta property="og:title" content="Valentin" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.valentinvannay.com/" />
    <meta property="og:image" content="https://www.valentinvannay.com/images/common/open_graph_logo.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="Valentin is our brand new worker designed to fit in every team and adapt to various situations. He is shipped with many basic functionalities and can easily be upgraded. Buy it now !!" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicons/favicon-128.png" sizes="128x128" />

    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/flags/css/flag-icon.min.css">
    <link rel="stylesheet" href="/css/prism.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

    <link rel="stylesheet" href="/css/all.css?v=20170530">

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/prism.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-19349084-6', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body>
    <div id="layout">
        <div id="menu">
          <div class="pure-menu">
            <div class="text-center">
              <a href="/"><img class="main-logo" src="/images/common/main_logo.svg" /></a>
            </div>
            <ul class="pure-menu-list">
              {% for item in menuItems %}
                <li class="pure-menu-item"><a href="{{ item['href'] }}" class="pure-menu-link">{{ item['text'] }}</a></li>
              {% endfor %}
            </ul>
          </div>

<!--
          <div class="text-center" style="position: absolute;bottom: 100px;left: 25px;width: 100px;height: 100px;overflow: hidden;border-radius:50%;border: 1px solid white;">
            <img style="width: 100%;" src="/images/common/profile_picture.png" />
          </div>
-->

          <ul class="menu-social-list">
            <li>
              <a href="https://www.facebook.com/talismar" target="_blank">
                <i class="fa fa-fw fa-lg fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.behance.net/valentincognito" target="_blank">
              <i class="fa fa-fw fa-lg fa-behance" aria-hidden="true"></i>
            </a>
            </li>
            <li>
              <a href="https://www.instagram.com/valentincognito/?hl=en" target="_blank">
                <i class="fa fa-fw fa-lg fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/valentin-vannay-61481184" target="_blank">
                <i class="fa fa-fw fa-lg fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

        <div id="mobile_menu">
          <ul class="mobile-menu-list">
              {% for item in menuItems %}
                <li><a href="{{ item['href'] }}">{{ item['text'] }}</a></li>
              {% endfor %}
            </ul>
        </div>

        <header class="header">
          <div id="particles-js"></div>
          <div class="info-box">
            <h1>valentin <span>vannay</span></h1>
            <a href="https://github.com/valentincognito" target="_blank"><i class="fa fa-github fa-fw" aria-hidden="true"></i> valentincognito</a>
          </div>
        </header><!-- header end -->

        <div id="main">
          <div class="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>

    </div>

    <script type="text/javascript" src="https://use.fontawesome.com/3b92c4326c.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>

    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">
      particlesJS.load('particles-js', '/assets/particles.json', function() {
        //console.log('callback - particles.js config loaded');
      });
    </script>
  </body>
</html>
