{% extends "Layout.html" %}
{% block content %}

  <style>
    header{display: none;}
  </style>
  
  

  <div class="portfolio-content-wrapper clearfix">
    
    <div class="portfolio-info">
      <h3>Portfolio</h3>
      <p>A simple a list of my collaboration on various projects these past years. As a full stack developer I had different roles on every project some of them are entirely made by myself.</p>
      <h5>Colors identifier</h5>
      <ul class="colors-list">
        <li><i class="fa fa-paint-brush front" aria-hidden="true"></i> Front-end</li>
        <li><i class="fa fa-paint-brush dev" aria-hidden="true"></i> Back and front-end</li>
        <li><i class="fa fa-paint-brush fullstack" aria-hidden="true"></i> Development and design</li>
      </ul>
      
      <img src="/images/portfolio_background.png" style="opacity: 0.5;" />
    </div>

    <div class="portfolio-showcase-wrapper">
      {% for project in projects %}
        <div class="case {{ project.role }}">
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer" style="background-image: url('{{ project.thumbnail }}');"></div>
          <div class="info">
            <div class="title">{{ project.name }}</div>
            <div class="company">{{ project.date }} <br> @ {{ project.company }}</div>
            <div class="languages">{{ project.languages }}</div>
          </div><!-- info end -->
        </div><!-- case end -->
      {% endfor %}
    </div><!-- portfolio-showcase-wrapper end -->
    
  </div><!-- portfolio-content-wrapper end -->
  
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){

  });/* document ready end */
</script>
{% endblock %}