{% extends "Layout.html" %}
{% block content %}

  <style>
    header{display: none;}
  </style>
  
  

  <div class="portfolio-content-wrapper clearfix">
    
    <div class="portfolio-info">
      <h3>Portfolio</h3>
      <p>A simple a list of my collaboration on various projects these past years. As a full stack developer I had different roles on every project some of them are entirely made by myself.</p>
      <h5>Colors identifier</h5>
      <ul class="colors-list">
        <li><i class="fa fa-circle-o front" aria-hidden="true"></i> Front-end</li>
        <li><i class="fa fa-circle-o dev" aria-hidden="true"></i> Back and front-end</li>
        <li><i class="fa fa-circle-o fullstack" aria-hidden="true"></i> Development and design</li>
      </ul>
      
<!--      <img src="/images/portfolio_background2.png" style="opacity: 0.6;" />-->
    </div>
    

    <div class="portfolio-showcase-wrapper">
      {% for project in projects %}
        <div class="case {{ project.role }}" data-id="{{ project.id }}">
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer" style="background-image: url('{{ project.thumbnail }}');"></div>
          <div class="info">
            <div class="title">_{{ project.name }}</div>
            <div class="company">{{ project.date }}</div>
            <div class="languages">{{ project.languages }}</div>
          </div><!-- info end -->
        </div><!-- case end -->
      {% endfor %}
    </div><!-- portfolio-showcase-wrapper end -->
    
    <div class="mobile-portfolio-showcase-wrapper">
      <!-- Slider main container -->
      <div class="swiper-container portfolio">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for project in projects %}
          <div class="swiper-slide">
            <div class="case {{ project.role }}" data-id="{{ project.id }}">
              <div class="layer"></div>
              <div class="layer"></div>
              <div class="layer"></div>
              <div class="layer" style="background-image: url('{{ project.thumbnail }}');"></div>
              <div class="info">
                <div class="title">_{{ project.name }}</div>
                <div class="company">{{ project.date }}</div>
                <div class="languages">{{ project.languages }}</div>
              </div><!-- info end -->
            </div><!-- case end -->
          </div>
          {% endfor %}
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
      </div><!-- Slider main container end -->
    </div><!-- mobile-portfolio-showcase-wrapper end -->
    
  </div><!-- portfolio-content-wrapper end -->
  
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    
    $('.case').click(function(){
      var page_name = 'project_'+$(this).attr('data-id');
      $(".portfolio-info").load(page_name);
    });
    
    var portfolio_swiper = new Swiper ('.swiper-container', {
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      slidesPerView: 2,
      spaceBetween: 10,
      freeMode: true
    });        
    
  });/* document ready end */
</script>
{% endblock %}